.main{
  max-width: 220px;
  margin: 0 auto;
  padding: 10px;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.people-image{
  width: 200px;
}